page-logout {
.card-background-page {
     background-repeat: no-repeat;
     background-size: cover;
     
    h1{
         font-size:52px;
         margin-top:60px;
     }
    .marginTop{
            margin-top:200px;
    }

}
    
    .marginTop{
            margin-top:150px;
        }

.item.item-input {
    background-color: transparent;
    
}




}